body {
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
}
.imagenes-container{
    margin: 100px auto;
    width: 150px;
    display: inline-block;
}
.imagenes-container .imagen{
    position: relative;
    margin-right: -20px;
    display: f
    
}
.imagenes-container .imagen img{
    width: 150px;
    height: 150px;
    
}

.imagenes-container .imagen .nombre{
    position: absolute;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 100px;
    top: -30px;
    
}
.imagenes-container .imagen:hover .nombre {
    display: inline-block;
}
